<h1>New file upload</h1>

<%= form_with(model: @file_upload, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :file_data %>
    <%= form.file_field :file_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to file uploads", file_uploads_path %>
</div>
